<h1>Hurdle API Routing Information</h1>
<p>Use the following for reference utilizing the API.</p>
<div class = "row" >
  <div class = "col-md-2">
    Prefix
  </div>
  <div class = "col-md-2">
    Verb
  </div>
  <div class = "col-md-4">
    URI Pattern
  </div>
  <div class = "col-md-4">
    Controller#Action
  </div>
</div>

<div class = "row" >
  <div class = "col-md-2">
    <ul>
      <li>root</li>
      <li>rails_admin</li>
      <li>api_entry_votes</li>
      <li> </li>
      <li>new_api_entry_vote</li>
      <li>edit_api_entry_vote</li>
      <li>api_entry_vote</li>
      <li> </li>
      <li> </li>
      <li> </li>
      <li>api_entries</li>
      <li> </li>
      <li>new_api_entry</li>
      <li>edit_api_entry</li>
      <li>api_entry</li>
      <li> </li>
      <li> </li>
      <li> </li>
    </ul>
  </div>
  <div class = "col-md-2">
    <ul>
      <li>GET</li>
      <li> </li>
      <li>GET</li>
      <li>POST</li>
      <li>GET</li>
      <li>GET</li>
      <li>GET</li>
      <li>PATCH</li>
      <li>PUT</li>
      <li>DELETE</li>
      <li>GET</li>
      <li>POST</li>
      <li>GET</li>
      <li>GET</li>
      <li>GET</li>
      <li>PATCH</li>
      <li>PUT</li>
      <li>DELETE</li>
    </ul>
  </div>
  <div  class = "col-md-4">
    <ul>
      <li>/</li>
      <li>/admin</li>
      <li>/api/entries/:entry_id/votes(.:format)</li>
      <li>/api/entries/:entry_id/votes(.:format)</li>
      <li>/api/entries/:entry_id/votes/new(.:format)</li>
      <li>/api/entries/:entry_id/votes/:id/edit(.:format)</li>
      <li>/api/entries/:entry_id/votes/:id(.:format)</li>
      <li>/api/entries/:entry_id/votes/:id(.:format)</li>
      <li>/api/entries/:entry_id/votes/:id(.:format)</li>
      <li>/api/entries/:entry_id/votes/:id(.:format)</li>
      <li>/api/entries(.:format)</li>
      <li>/api/entries(.:format)</li>
      <li>/api/entries/new(.:format)</li>
      <li>/api/entries/:id/edit(.:format)</li>
      <li> /api/entries/:id(.:format)</li>
      <li>/api/entries/:id(.:format)</li>
      <li>/api/entries/:id(.:format)</li>
      <li>/api/entries/:id(.:format)</li>
    </ul>
  </div>
  <div class = "col-md-4">
    <ul>
      <li>dashboard#index</li>
      <li>RailsAdmin::Engine</li>
      <li>api/votes#index</li>
      <li>api/votes#create</li>
      <li>api/votes#new</li>
      <li>api/votes#edit</li>
      <li>api/votes#show</li>
      <li>api/votes#update</li>
      <li>api/votes#update</li>
      <li>api/votes#destroy</li>
      <li>api/entries#index</li>
      <li>api/entries#create</li>
      <li>api/entries#new</li>
      <li>api/entries#edit</li>
      <li>api/entries#show</li>
      <li>api/entries#update</li>
      <li>api/entries#update</li>
      <li>api/entries#destroy</li>
    </ul>
  </div>
</div>
